<%- include('layout/header'); %>

<div class="container p-3">
    <div class="row">
        <div class="col-lg-8 mx-auto mt-4">
          <div class="card mb-3 text-center">
            <div class="card-body">
              <h1 class="card-title">Watchlist Movie App</h1>
                <p class="card-text p-4" style="text-align: justify;">Watchlist Movie App adalah sebuah aplikasi yang dirancang untuk para penggemar film yang ingin mengatur dan melacak film-film yang ingin mereka tonton atau sudah ditonton.<br>
                Fitur-fitur utama dari Watchlist Movie App meliputi:<br>
                - Pengguna dapat menambahkan film-film yang ingin mereka tonton ke dalam daftar "watchlist" mereka.<br>
                - Pengguna dapat melihat detail film-film yang ada di dalam daftar "watchlist" mereka.<br>
                - Pengguna dapat mengedit film-film yang ada di dalam daftar "watchlist" mereka.<br>
                - Pengguna dapat menghapus film-film yang ada di dalam daftar "watchlist" mereka.<br>
                </p>
              <p class="card-text">
                <small class="text-muted">Dibuat oleh Hanif Sajid Al Amna (Alhans)</small>
                <br>
                my Email: <a href="mailto:alhans2708@gmail.com">alhans2708@gmail.com</a>
                <br>
                my LinkedIn: <a target="_blank" href="https://www.linkedin.com/in/alhans2708/">@alhans2708</a>
              </p>
              <a href="/" class="btn btn-dark">Back to Home</a>
            </div>
          </div>
        </div>
    </div>
</div>
<%- include('layout/footer'); %>