<%- include('layout/header'); %>

<div class="container p-3">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title mb-4 h2">Add a Movie</h5>
                  <form action="/add" method="post" enctype="multipart/form-data" onsubmit="return confirm('Are you sure want to add this Movie to your Watchlist?');">
                    <div class="mb-3">
                      <label for="inputTitle" class="form-label">Title of the Movie</label>
                      <input type="text" class="form-control" id="inputTitle" name="title" required>
                    </div>
                    <div class="mb-3">
                      <label for="inputYear" class="form-label">Year of the Movie</label>
                      <input type="text" class="form-control" id="inputYear" name="year" required>
                    </div>
                    <div class="mb-3">
                      <label for="inputLink" class="form-label">Link to the Movie</label>
                      <input type="text" class="form-control" id="inputLink" name="link" value="-">
                    </div>
                    <div class="mb-3">
                      <label for="inputDesc" class="form-label">Description of the Movie</label>
                      <textarea class="form-control" id="inputDesc" rows="3" name="desc" required></textarea>
                    </div>
                    <div class="mb-3">
                      <label for="formFileSm" class="form-label">Movie Poster</label>
                      <input class="form-control form-control-sm" id="formFileSm" type="file" name="image" required>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Add Movie" />
                  </form>
                </div>
              </div>
        </div>
    </div>
</div>
<%- include('layout/footer'); %>